.featured {
  height: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #020d30;
  color: white;

  .container {

    justify-content: space-between;
    width: 1200px;
    display: flex;
    margin-left: 75px;
    align-items: center;


    .left {

      display: flex; 
      flex-direction: column;
      margin-top: 30px;
      gap: 10px;
      h1 {
        font-size: 50px;

        span {
          font-style: italic;
          font-weight: 300;
        }
      }

      .search {
        background-color: white;
        border-radius: 5px;
        display: flex;
        color: black;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 20px;
            height: 20px;
            margin-left: 7px;

          }

          input {
            border: none;
            outline: none;
            width: 100%;

            &::placeholder {
              color: gray;
            }
          }
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: #58a544;
          color: white;
          align-self: flex-end;
          cursor: pointer;
        }
      }

      .categories {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        width: 100%;

        span {
          width: max-content;
        }

        button {
          cursor: pointer;
          width: max-content;
          color: white;
          border: 0.5px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 14px;

        }

        :hover {
          background-color: #58a544;
          border: none;
          border: 0.5px solid #58a544;
          color: white;
      
        }
      }
    }

    .right {
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  
}



.featured {
  height: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #020d30;
  color: white;

  .container {

    justify-content: space-between;
    width: 1300px;
    display: flex;
    align-items: center;


    .left {

      display: flex;
      width: 50%;
      flex-direction: column;
      gap: 30px;
      h1 {
        font-size: 50px;

        span {
          font-style: italic;
          font-weight: 300;
        }
      }

      .search {
        background-color: white;
        border-radius: 5px;
        display: flex;
        color: black;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 20px;
            height: 20px;
            margin-left: 7px;

          }

          input {
            border: none;
            outline: none;
            width: 100%;

            &::placeholder {
              color: gray;
            }
          }
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: #58a544;
          color: white;
          align-self: flex-end;
          cursor: pointer;
        }
      }

      .categories {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        width: 100%;

        span {
          width: max-content;
        }

        button {
          cursor: pointer;
          width: max-content;
          color: white;
          border: 0.5px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 14px;

        }

        :hover {
          background-color: #58a544;
          border: none;
          border: 0.5px solid #58a544;
          color: white;
      
        }
      }
    }

    .right {
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  
}



@media screen and (max-width: 640px) { 
  .featured {
    .container { 
      .left { 
        h1 { 
          font-size: 30px; 
        } 
   
        .search { 
          .searchInput { 
            input { 
              font-size: 14px; 
            } 
          } 
   
          button { 
            width: 100px; 
            height: 40px; 
          } 
        } 
   
        .categories { 
          button { 
            font-size: 12px; 
          } 
        } 
      } 
    } 
  }
    
} 